/* HEADER */
header{
    position: relative;
    width: 100%;
    height: 28px;
    background-color: white;
    z-index: 10;
    top: -8px;
}

body{
    font-family: 'HelveticaNeue',Arial,sans-serif;
}


    .logo{
        position: absolute;
        height: 24px;
        width: 96px;
        padding-left: 64px;
        padding-top:2px;
        padding-bottom: 2px; 
    }


.menutop{
    position: absolute;
    padding-left: 510px;
    padding-top: 2px;


}

.menutop a{
    margin-left: 26px;
    color: #3C3C3C;
    font-size: 12px;
}







/* TITLE PARAGRAPHS AND BUTTONS*/


.sectiontitle{
    text-align: center;
    }

    h3{
        text-align: center;
    }


.underh1 {
    position: absolute;
    width: 381px;
    height: 28px;
    left: 64px;
    font-size: 13px;
    line-height: 28px;
    color: #3C3C3C;
    margin-top: 180px;
}

.psection{
    height: 28px;
    font-size: 13px;
    line-height: 28px;
color: black;
    text-align: center;
    margin-bottom: 33px;
}





.roundempty { 
border: 1px solid #B57AD2;
box-sizing: border-box;
border-radius: 23px;
background-color: white;
color: #B57AD2;
vertical-align: 0px;
margin-left: 850px;
margin-top: 4px;
    }


.roundedpurple1 {
    border: 1px solid #B57AD2;
    box-sizing: border-box;
    border-radius: 23px;
    background-color: #B57AD2;
    color: white;
    width: 158px;
    height: 47px;
    margin-top: 256px;
    margin-left: 64px;
}

.roundedpurple2 {
    border: 1px solid #B57AD2;
    box-sizing: border-box;
    border-radius: 23px;
    background-color: #B57AD2;
    color: white;
    width: 158px;
    height: 47px;
    margin-left: 20px;
}

.roundedpurplesauce{
    border: 1px solid #B57AD2;
    box-sizing: border-box;
    border-radius: 23px;
    background-color: #B57AD2;
    color: white;
    width: 158px;
    height: 47px;
    margin-left: 425px;
    margin-bottom: 21px;
}

/* SECTION 1 ABOUT US*/
#section1{
    position: relative;
}

h1 {
    position: absolute;
    width: 416px;
    height: 48px;
    left: 64px;
    top: 87px;
    font-size: 25px;
    color: #3C3C3C;
}

.row1{
    float: right;
    margin-top: -12px;
    margin-bottom: -211px;
    }

    
.photojump{
    width:544px;
    height:895px;
    margin-top:-251px;
    }


#achievements{
    text-align: center;
}


.lending{
    width: 896px;
    margin-bottom: 20px;
}

/* SECTION 2 OUR SERVICES */

#section2{
    position: relative;
}

.text-center {
    text-align: center;
    margin-bottom: 25px;
}




.fourpeoplewithacomputer ,.twopeoplewithacomputer{
display: inline-block;
width: 378px;
height: 480px;
top: 6px;
background: #FFFFFF;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
border-radius: 6px;
}




ul{
    list-style: none;
line-height: 30px;
}

li::before{
    content: "●";color: #B57AD2;
}



.photo1 ,.photo2{
    width: 378px;
    border-radius: 6px;
    height: 240px;
}

.fourpeoplewithacomputer{
margin-left: 61px;
margin-right: 128px;
margin-bottom: 144px;
margin-top: 5px;
}

.twopeoplewithacomputer{
    margin-bottom: 144px;
    margin-top: 5px;
}

.fourpeoplewithacomputer P ,.twopeoplewithacomputer P{
    margin-left: 20px;
}


/* SECTION 3 OUR PROCRESS*/

.three {
position: absolute;
width: 704.5px;
margin-left: 145.5px;
z-index: 9;
}


.hprocress{
    font-size: 15px;
    margin-top: 101px;
    margin-bottom: 36px;
    color: white;
}

.understand, .start, .flexible{
width: 234.50px;
height: 288px;
display:inline-block;
overflow: hidden;
margin-right: -5px;
margin-bottom: 61px;
}

.understand, .flexible{
background-color: #b57ad2;
margin-top:116px;
}



.start{
    background-color:#3490CF;
    ;
}

.row3{
    position:relative;
}

.pprocress{
    font-size: 11px;
    color: white;
    line-height: 2px;
    padding-top: 2px;
margin-left: 26px;
}




.understand{
    margin-left: 146.50px;
}


/* SECTION 4 OUR SECRET SAUCE*/

.line{
    position: relative;
    margin-bottom: 60px;
    margin-top: 60px;
}

.staying, .protect, .no{
    width: 235px;
    height: 311px;
    display:inline-block;
    overflow: hidden;
    margin-right: 7px;
    margin-bottom: 32px;
    }


    .staying{
        margin-left: 143.50px;
    }


    .psauce{
        font-size: 11px;
        line-height: 6px;
        padding-top: 5px;
        margin-left: 26px;
    }


.imagesection4{
    height: 120px;
    margin-left: 50px;
}

/* SECTION 5 FOUDER'S MESSAGE*/

.founder{
background: linear-gradient(180deg, rgba(255, 244, 229, 0.0001) 0%, rgba(181, 122, 210, 0.776388) 136.98%), linear-gradient(179.61deg, #F9F4FC 0.33%, rgba(255, 244, 229, 0.0001) 99.67%);
border-radius: 6px;
height: 576px;
}

.john{
    float: left;
    width: 288px;
    margin: 101px 132px auto 80px;
}

.h2founder{
padding-top: 100px;
padding-bottom: 37px;
}

.pfounder{
    font-size: 14px;
    line-height: 6px;
    font-weight: bold;
}

.psmall{
    font-size: 10px;
    font-weight: bold;
}


/* LOGOS CUSTOMERS*/

.logoscustomers{
    width: 1024px;
    
}


/* SECTION 6 OUR TEAM*/

.ourteam{
    position: relative;
    background-image: url(img/Oval.svg);
}



.oval{
    position: absolute;
width: 1024px;
height: 576px;
}

.titleteam{
    position: relative;
    text-align: center;
    padding-top: 31px;
}

.psectionteam{
    height: 5px;
font-size: 13px;
line-height: 28px;
color: black;
text-align: center;
z-index: 12;
}

.cartoon{
    width: 144px;
}

.teamfive{
    width: 736px;
}


/* SECTION 7 OUR SUCESS STORIES*/

.increas{
    float: right;
}



/* SECTION 8 TALK TO EXPERT*/

.contactus{
    position: relative;
}

.texttalk{

}

/* FOOTER */

footer{
    position: relative;
background-color: #857AD2;
color: white;
}
