
header{
    position: fixed;
    width: 100%;
    height: 78px;
    background-color: white;
}

body{
    font-family: 'HelveticaNeue',Arial,sans-serif;
}


header div{
display:inline-block;
 }

    .logo{
        padding-left: 140.79px;
        padding-top: 25px;
        padding-bottom: 25px; 
    }

    header nav{
        padding-left: 673px;
        padding-top: 25px;
        padding-bottom: 25px; 
    }



#achievements{
    text-align: center;
}


.row1{
float: right;
}




h1 {
    position: absolute;
    width: 650px;
    height: 84px;
    left: 139px;
    top: 300px;
    font-size: 40px;
    line-height: 42px;
    color: #3C3C3C;
}


.underh1 {
position: absolute;
width: 426px;
height: 28px;
left: 139px;
top: 417,26;
font-size: 20px;
line-height: 28px;
color: #3C3C3C;
margin-top: 453px;
}




.roundempty {
border: 1px solid #B57AD2;
box-sizing: border-box;
border-radius: 23px;
background-color: white;
color: #B57AD2;
    }

.roundedpurple1 {
border: 1px solid #B57AD2;
box-sizing: border-box;
border-radius: 23px;
background-color: #B57AD2;
color: white;
width: 158px;
height: 47px;
margin-top:576px;
margin-left: 128px;
}





.text-center {
    text-align: center
}



.photo1 {
    width: 100px;
}


.founder{
background: linear-gradient(180deg, rgba(255, 244, 229, 0.0001) 0%, rgba(181, 122, 210, 0.776388) 136.98%), linear-gradient(179.61deg, #F9F4FC 0.33%, rgba(255, 244, 229, 0.0001) 99.67%);
border-radius: 6px;

}



.withcomputers{
justify-content: space-between 
}

.fourpeoplewithacomputer ,.twopeoplewithacomputer{
width: 56Opx;
height: 684px;
top: 6px;
background: #FFFFFF;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
border-radius: 6px;
}





li{
}

h2{
text-align: center;
}

.ourteam{
background-image: url("img/Oval.svg");
background-color:;
}


footer{
background-color: #857AD2;
color: white;
}
